# count vectorization

In [1]:
l= ["my name is ganesh agrahari", "my name is vishul agrahari"]

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame({"name":l})
df

                         name
0  my name is ganesh agrahari
1  my name is vishul agrahari

In [8]:
from sklearn.feature_extraction.text import CountVectorizer 
cv = CountVectorizer()

In [11]:
new_data= cv.fit_transform(df["name"]).toarray()

In [ ]:
new_data

array([[1, 1, 1, 1, 1, 0],
       [1, 0, 1, 1, 1, 1]], dtype=int64)

In [13]:
cv.vocabulary_

{'my': 3, 'name': 4, 'is': 2, 'ganesh': 1, 'agrahari': 0, 'vishul': 5}